.card-blue {
    height: 200px;
    width: 100%;
    background: #0977BE;
    border-radius: 12px;
}
.card-bluee {
    height: 200px;
    width: 100%;
    background: #2BA0E7;
    border-radius: 12px;
}
.card-green {
    height: 200px;
    width: 100%;
    background: #22BB3E;
    border-radius: 12px;
}
